openapi: 3.2.0
info:
  title: Smoobu Guests API
  description: The Smoobu API is a RESTful JSON API for the Smoobu vacation rental channel manager and property management system.
  version: '1.0'
  contact:
    name: Smoobu
    url: https://www.smoobu.com
servers:
- url: https://login.smoobu.com
  description: Smoobu production
security:
- apiKey: []
tags:
- name: Guests
  description: Guest contact records.
paths:
  /api/guests:
    get:
      operationId: listGuests
      tags:
      - Guests
      summary: List guests
      description: Lists guest records, with pagination.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of guests.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/guests/{guestId}:
    parameters:
    - name: guestId
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getGuest
      tags:
      - Guests
      summary: Get a guest
      description: Retrieves a single guest record by id.
      responses:
        '200':
          description: The guest.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: Authentication failed or the API key is missing or invalid.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Api-Key
      description: Smoobu API key sent in the Api-Key header. HMAC-signed requests (X-API-Key / X-Timestamp / X-Nonce / X-Signature) are the recommended method; OAuth 2 is available for partners. The plain Api-Key header is documented as being sunset on 2026-09-25.
