openapi: 3.2.0
info:
  title: Smoobu Apartments API
  description: The Smoobu API is a RESTful JSON API for the Smoobu vacation rental channel manager and property management system.
  version: '1.0'
  contact:
    name: Smoobu
    url: https://www.smoobu.com
servers:
- url: https://login.smoobu.com
  description: Smoobu production
security:
- apiKey: []
tags:
- name: Apartments
  description: Properties / listings in the Smoobu account.
paths:
  /api/apartments:
    get:
      operationId: listApartments
      tags:
      - Apartments
      summary: List apartments
      description: Lists all apartments (properties/listings) in the account.
      responses:
        '200':
          description: A list of apartments.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/apartments/{apartmentId}:
    parameters:
    - $ref: '#/components/parameters/ApartmentId'
    get:
      operationId: getApartment
      tags:
      - Apartments
      summary: Get an apartment
      description: Retrieves a single apartment's details by id.
      responses:
        '200':
          description: The apartment.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication failed or the API key is missing or invalid.
    NotFound:
      description: The requested resource was not found.
  parameters:
    ApartmentId:
      name: apartmentId
      in: path
      required: true
      schema:
        type: integer
      description: The apartment id.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Api-Key
      description: Smoobu API key sent in the Api-Key header. HMAC-signed requests (X-API-Key / X-Timestamp / X-Nonce / X-Signature) are the recommended method; OAuth 2 is available for partners. The plain Api-Key header is documented as being sunset on 2026-09-25.
